body
{
	font-family: Helvetica;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	color: #FFF;
}

#equipo, #jugadores
{
	margin: 0 auto;
	text-align: center;
	width: 95%;
}

input
{
	width: 60%;
	height: 30px;
	font-size: 20px;
	background-color: transparent;
	color: #FFF;
	margin-bottom: 5px;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9
{
	width: 15%;
}

#jugadores button
{
	width: 60%;
	height: 70px;
	cursor: pointer;
}

a
{
	background-color: white;
	color: red;
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;
}

div
{
	margin-top: 20px;
}

#mensaje
{
	color: red;
}

